.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-container svg {
    display: inline-block;
    vertical-align: middle;
   
    /* height: 100vh; */
  }
  
  .map-container path {
    fill: #87CEEB;
  }