/* buttonStyles.css */

.usermgmt-button {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.011em;
    text-align: left;
    border: none;
    background-color: transparent;
    color: #A8A8BD;


  }
  